<h1>Héroe <small>Nombre del heroe</small></h1>
<hr>

<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger"
            routerLink="/heroes">
      <i class="fa fa-arrow-left">
        Regresar
      </i>
    </button>
  </div>
</div>


<div class="row animate fadeIn faster">
  <div class="col">

    <form (ngSubmit)="guardar( f )"
                    #f="ngForm">

      <div class="form-group">
        <label >fireBase ID</label>
        <input type="text"
                class="form-control"
                placeholder="Firebase ID"
                [(ngModel)]="heroe.id"
                name="id"
                disabled="disabled"
                >
        <small class="form-left text-muted">Este es el campo autogenerado</small>

      </div>

      <div class="form-group">
        <label >Nombre</label>
        <input type="text"
                class="form-control"
                placeholder="Nombre del heroe"
                [(ngModel)]="heroe.nombre"
                name="nombre"
                required
                >
      </div>

      <div class="form-group">
        <label >Poder</label>
        <input type="text"
                class="form-control"
                placeholder="Poder del heroe"
                [(ngModel)]="heroe.poder"
                name="poder"
                required
                >
      </div>

      <div class="form-group">
        <label for="">Estado</label>
        <br>
        <button *ngIf="heroe.vivo"
                (click)="heroe.vivo = false"
                class="btn btn-outline-success w-50"
                type="button">
               <i class="fa fa-smile-wink">
                vivo
               </i>
        </button>
        <button *ngIf="!heroe.vivo"
                (click)="heroe.vivo = true"
                class="btn btn-outline-danger w-50"
                type="button">
               <i class="fa fa-dizzy">
                Muerto
               </i>
        </button>
      </div>

      <hr>
      <div class="form-group text-center">
        <button type="submit"
                class="btn btn-primary w-25">
          <i class=" fa fa-save">Guardar</i>
        </button>
      </div>

    </form>

  </div>
</div>
